<template>
  <div class="row answer-detail" :class="isValid()">
    <!-- If the question isn't type page -->
    <div v-if="question.type !== 'page'" class="question-item col-6">
      <span class="left index align-middle"> {{ question.questionIndex }} </span>
      <span class="left question-text-modal align-middle">{{ getQuestion(question.questionId).question }} </span>
    </div>
    <div class="right modal-right-panel">
      <!-- Icon enables expanding details about question and student's answer -->
      <font-icon :icon="['fas', 'expand-alt']"
                 class="icon right search align-middle"
                 :aria-expanded="visible ? 'true' : 'false'"
                 variant="link"
                 aria-controls="collapse-4"
                 @click="visible = !visible"
      />
      <!-- Question detail icon -->
      <font-icon :icon="['fas', 'search']"
                 @click="openDetail(question)"
                 class="icon right search align-middle"/>
      <span>/ {{ question.maxPoints }}</span>
      <b-form-input type="number" min="0" :max="question.maxPoints"
                    class="point-input left point-input-modal-result" v-model="question.points" placeholder="Body" />
    </div>
    <!-- Collapsible section with question and student's answers details -->
    <b-collapse id="collapse-4" v-model="visible" class="answer-detail-wrapper text-small row">
        <table class="answer-detail-table">
          <tbody>
          <tr>
            <td><b>Vyplněné odpovědi:</b><span class="right cell-text-format"> {{ question.filledAnswer }}</span></td>
            <td><b>Hodnocení:</b><span class="right cell-text-format"> {{ question.points }}</span></td>
          </tr>
          <tr>
            <td><b>Správné odpovědi:</b><span class="right cell-text-format"> {{ question.correctAnswer }}</span></td>
            <td><b>Úspěšnost:</b><span class="right cell-text-format"> {{ (question.points / question.maxPoints) * 100 }}%</span></td>
          </tr>
          </tbody>
        </table>
    </b-collapse>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
/** AnswerDetail component is part of Result view.
 *  It enables user to see details about selected student's answer */

export default {
  name: 'AnswerDetail',
  data () {
    return {
      visible: false
    }
  },
  props: {
    // selected question with answers
    question: Object,
    // number indicating index in ExamModal list
    index: Number,
    // student results
    studentResults: Object,
    // temporary value for showing manual correction method
    valid: Boolean,
    openDetail: Function
  },
  computed: {
    ...mapGetters([
      'getQuestion'
    ])
  },
  methods: {
    /* Temporary method for showing manual correction method
     * It makes defines css style of selected question */
    isValid () {
      if (this.question.questionId === 17 && this.studentResults.username === 'dahlo' && !this.valid) {
        this.visible = true
        return 'invalid'
      } else if (this.question.questionId === 17 && this.studentResults.username === 'dahlo' && this.valid) {
        return 'valid'
      }
      return ''
    }
  }
}
</script>
