<template>
  <div class="result-table-wrapper">
    <!-- Result modal window – detail of one student -->
    <ResultModal :hide-modal="hideModal" :studentResults="detail" :valid="valid" :changeValid="changeValid"/>
    <table class="result-table">
      <!-- Table Header -->
      <thead>
      <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>Varianta</th>
        <th>Body</th>
        <th>Detail</th>
      </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
      <tr v-for="(result, id) in results" :key="result.id" :class="isValid(result.username)">
        <td>{{ id + 1  }}</td>
        <td>{{ getStudent(result.username).firstname + ' ' + getStudent(result.username).lastname }}</td>
        <td>{{ result.variant }}</td>
        <td>{{ result.totalPoints }} / {{ result.maximumPoints }}</td>
        <td><b-button variant="link" @click="showModal(result, result.username)">Zobrazit detail</b-button></td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import ResultModal from '@/components/resultComponents/ResultModal'
import { mapGetters, mapState } from 'vuex'
/** ResultTable component is part of Result view.
 *  It enables user to see and edit exam results for each student */

export default {
  name: 'ResultTable',
  components: { ResultModal },
  data () {
    return {
      // result that is opened in modal
      detail: { },
      // temporary attribute for illustrating manual correction function
      valid: false
    }
  },
  props: {
    results: Array
  },
  computed: {
    ...mapState([
      'userQuestions'
    ]),
    ...mapGetters([
      'getQuestion',
      'getStudent'
    ])
  },
  methods: {
    /* Method is used for calling ResultModal */
    showModal (result, username) {
      this.detail = result
      this.detail.studentName = this.getStudent(username).firstname + ' ' + this.getStudent(username).lastname
      this.$root.$emit('bv::show::modal', 'result-modal', '#btnShow')
    },
    /* Method is used for hiding ResultModal */
    hideModal () {
      this.detail = {}
      this.$root.$emit('bv::hide::modal', 'result-modal', '#btnShow')
    },
    /* Temporary method is used for highlighting chosen result to
     * illustrate manual correction function */
    isValid (username) {
      if (username === 'dahlo' && !this.valid) {
        return 'invalid'
      } else if (username === 'dahlo' && this.valid) {
        return 'valid'
      }
      return ''
    },
    /* Temporary method is used for indicating that manual correction
     * has been done */
    changeValid () {
      this.valid = true
    }
  },
  watch: {
    validGlobal: function () {
      this.$forceUpdate()
    }
  }
}
</script>
