<template>
  <b-modal id="result-modal"
           size="xl"
           hide-footer
           class="modal-detail">
    <div class="d-block">
      <!-- Question modal window – detail of one question -->
      <questionModal
        :question="detailQuestion"
      />
      <h2>Detail testu studenta - {{ studentResults.studentName }}</h2>
      <!-- Header -->
      <div class="modal-column">
        <table class="result-detail-table">
          <tbody>
          <tr><td class="table-column-property"> Username: </td><td> {{ studentResults.username }}</td></tr>
          <tr><td class="table-column-property"> Jméno: </td><td> {{ studentResults.studentName }}</td></tr>
          <tr><td class="table-column-property"> Zadání: </td><td> {{ studentResults.variant }}</td></tr>
          <tr><td class="table-column-property"> Dosažený počet bodů: </td><td> {{ studentResults.totalPoints }}</td></tr>
          <tr><td class="table-column-property"> Maximální počet bodů: </td><td> {{ studentResults.maximumPoints }}</td></tr>
          </tbody>
        </table>
      </div>
      </div>
      <!-- Image of student's exam sheet – only static -->
      <div class="row">
        <div class="col-lg-7 d-flex flex-column">
              <img class="answer-sheet" :src='getImgUrl' alt="answer-sheet">
        </div>
        <!-- Student's answers with details -->
        <div class="col-lg-5 d-flex flex-column">
          <!-- Answer detail component – detail of one question and student's answer -->
          <AnswerDetail :open-detail="openDetail" :question="element" :studentResults="studentResults" :index="index"
                        :valid="valid"
                        v-for="(element, index) in this.studentResults.questions" :key="index"/>
        </div>
      </div>
    <b-button class="modal-continue-button" @click="checkCorrection">Potvrdit a zavřít</b-button>
  </b-modal>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import questionModal from '@/components/QuestionModal'
import AnswerDetail from '@/components/resultComponents/AnswerDetail'
/** ResultModal component is part of Result view.
 *  It enables user to see and edit exam results of selected student */

export default {
  name: 'ResultModal',
  data () {
    return {
      detailQuestion: { }
    }
  },
  components: { AnswerDetail, questionModal },
  props: {
    // all data about student's results
    studentResults: Object,
    // temporary attribute for illustrating manual correction function
    valid: Boolean,
    hideModal: Function,
    changeValid: Function
  },
  computed: {
    ...mapState([
      'sampleQuestions'
    ]),
    ...mapGetters([
      'getStudent',
      'getQuestion'
    ]),
    /* Computed method to get exam image - static, not connected to server */
    getImgUrl () {
      return '/files/Exam_27/' + this.studentResults.username + '.png'
    }
  },
  methods: {
    /* Method is used for saving changes after teacher's edit */
    checkCorrection () {
      let newPoints = 0
      for (let i = 0; i < this.studentResults.questions.length; i++) {
        // new points can't be larger than max points
        if (this.studentResults.questions[i].points > this.studentResults.questions[i].maxPoints) {
          return
        }
        newPoints += Number(this.studentResults.questions[i].points)
      }
      this.studentResults.totalPoints = newPoints
      // if teacher confirmed temporary selected result for manual correction
      if (this.studentResults.username === 'dahlo' && !this.valid) {
        this.changeValid()
      }
      this.hideModal()
    },
    /* Method is used for calling QuestionModal window */
    openDetail (detail) {
      this.detailQuestion = this.getQuestion(detail.questionId)
      this.$root.$emit('bv::show::modal', 'modal-detail', '#btnShow')
    }
  }
}
</script>
