<template>
  <div id="app">
    <!-- <navbar/> -->
    <router-view :url="url"/>
  </div>
</template>
<script>
/** App.vue is an initial file that connects all of the views and components
 *  using vue router extension */

export default {
  data () {
    return {
      url: 'http://127.0.0.1:5000/'
    }
  }
}
</script>

<style lang="scss">

#app {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  padding: 10px;
  color: #333;
  overflow: hidden;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
