<template>
  <div class="progress-bar">
    <!-- First user scenario -->
    <div class="bv-progress" v-if="firstGroup()">
        <b-button pill variant="primary"
                  class="progress-button"
                  @click="$router.push({ name: 'form' })"
                  :disabled="getUrl('form', this.scenario1)">
          Formulář
        </b-button>
        <b-button pill variant="primary"
                  class="progress-button"
                  @click="$router.push('/editor')"
                  :disabled="getUrl('editor', this.scenario1)">
          Editor
        </b-button>
        <b-button pill variant="primary"
                  class="progress-button"
                  @click="$router.push('/download')"
                  :disabled="getUrl('download', this.scenario1)">
          Stáhnout
        </b-button>
    </div>
    <!-- Second user scenario -->
    <div class="bv-progress" v-else>
        <b-button pill variant="primary"
                  class="progress-button"
                  @click="$router.push('/upload')"
                  :disabled="getUrl('upload', this.scenario2)">
          Upload
        </b-button>
        <b-button pill variant="primary"
                  class="progress-button"
                  @click="$router.push('/results')"
                  :disabled="getUrl('results', this.scenario2)">
          Výsledky
        </b-button>
    </div>
  </div>
</template>

<script>
/** ProgressBar component is used in almost all views.
 *  It contains buttons that responds to current user scenario
 * */
export default {
  name: 'ProgressBar',
  data () {
    return {
      // user scenario 1
      scenario1: ['form', 'editor', 'download'],
      scenario2: ['upload', 'results']
    }
  },
  methods: {
    /* Method is used for extracting current url and
     * defining the state of each button.
     * Button is disabled until user goes through
     * all previous views. */
    getUrl (path, paths) {
      for (let i = 0; i < paths.length; i++) {
        if (path === paths[i]) {
          return false
        }
        if (this.$route.name === paths[i]) {
          break
        }
      }
      return true
    },
    firstGroup () {
      return this.scenario1.includes(this.$route.name)
    }
  }
}
</script>
