<template>
  <b-modal id="modal-detail"
           size="l"
           hide-footer
           hide-header
           class="modal-detail">
    <div class="d-block">
      <h2>Otázka {{ question.id }}</h2>
      <div class="modal-column">
        <div class="list-group">
          <!-- Question text -->
          <li class="list-group-item header">{{ question.question }}</li>
          <!-- Answers -->
          <li  class="list-group-item" v-for="(answer, index) in answers" :key="index">
              <span class="left question-text">{{ answer.content }}</span>
              <div class="right right-panel">
              <!-- Icon for correct answer -->
              <font-icon :icon="['fas', 'check']"
                         class="right search correct"
                          v-if="answer.correct"/>
              <!-- Icon for incorrect answer -->
              <font-icon :icon="['fas', 'times-circle']"
                         class="right search incorrect"
                         v-if="!answer.correct"/>
              </div>
          </li>
        </div>
        <div class="modal-column">
        <div class="row">
          <div  class="col-6">
              <span class="left points"><b>Body:</b> </span>
              <b-form-input type="number" min="0" class="left point-input-modal" v-model="question.points" placeholder="Body" />
          </div>
          <div  class="col-6">
            <span class="left points"><b>Typ:</b> {{question.type}}</span>
          </div>
        </div>
        </div>
      </div>
    </div>
    <b-button class="modal-continue-button" @click="hideModal">
      Zavřít
    </b-button>
  </b-modal>
</template>

<script>
/** QuestionModal component is used in almost all views.
 *  It contains buttons that responds to current user scenario */

export default {
  name: 'QuestionModal',
  data () {
    return {
      // list of answers - objects defined {content: string, correct: boolean}
      answers: []
    }
  },
  props: {
    question: Object
  },
  methods: {
    /* Method is used for hiding this modal window */
    hideModal () {
      this.$root.$emit('bv::hide::modal', 'modal-detail', '#btnShow')
    }
  },
  watch: {
    /* If the question is changed, answers are updated */
    question: function () {
      this.answers = []
      this.answers.push({ content: this.question.correct_answer, correct: true })
      this.question.incorrect_answers.forEach(element => this.answers.push({ content: element, correct: false }))
    }
  }
}
</script>
