<template>
  <div class="toggle-button">
    <!-- Menu button -->
    <b-button
      class="form-section-button"
      :aria-expanded="visible ? 'true' : 'false'"
      variant="link"
      aria-controls="collapse-4"
      @click="visible = !visible"
    >
      {{ section.buttonName }}
    </b-button>
    <!-- Collapsible set up  -->
    <b-collapse id="collapse-4" v-model="visible" class="mt-2">
      <b-card>
        <b-row class="my-1">
            <b-col sm="2">
              <label for="input-name">Název:</label>
            </b-col>
            <b-col sm="10">
              <b-form-input id="input-name"
                            placeholder="Zadejte název testu"
                            required
                            v-model="input.name"
                            :state="nameState">
              </b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="2">
              <label for="textarea-auto-height">Popis:</label>
            </b-col>
            <b-col sm="10">
              <b-form-textarea
                id="textarea-auto-height"
                v-model="input.description"
                placeholder="Zde můžete zadat rozšiřující popis testu, který se zobrazí v zadání studentům"
                rows="3"
                max-rows="8"
              ></b-form-textarea>
            </b-col>
          </b-row>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
/** FormGeneralInfo component is part of Form view.
 * It enables user to set up name and description of the test */
export default {
  name: 'FormGeneralInfo',
  data () {
    return {
      visible: true,
      show: true
    }
  },
  props: {
    section: Object,
    input: Object
  },
  computed: {
    /* function indicates if the name input is empty (invalid) or not (valid) */
    nameState () {
      return this.input.name.length > 0
    }
  }
}
</script>
