<template>
  <div class="toggle-button">
    <!-- Menu button -->
    <b-button
      class='form-section-button'
      :aria-expanded="visible ? 'true' : 'false'"
      variant="link"
      aria-controls="collapse-4"
      @click="visible = !visible"
    >
      {{ section.buttonName }}
    </b-button>
    <!-- Collapsible set up  -->
    <b-collapse id="collapse-4" v-model="visible" class="mt-2">
      <b-card>
        <b-row class="my-1">
            <b-col sm="2">
              <label for="input-layout">Vybrat skupinu studentů:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="input.studentGroup"
                :options="options"
                class="mb-3"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-col>
          </b-row>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
/** FormStudentGroup component is part of Form view.
 *  It enables user to set up student group that is intended to be assigned to exam
 *  (currently doesn't effect the final exam form) */
export default {
  name: 'FormStudentGroup',
  data () {
    return {
      visible: true,
      show: true,
      options: [
        { item: 'all', name: 'Všichni zapsaní studenti k předmětu' },
        { item: 'lab1', name: 'Studenti zapsaní ke skupině cvičení 12:30' },
        { item: 'lab2', name: 'Studenti zapsaní ke skupině cvičení 14:30' }
      ]
    }
  },
  props: {
    section: Object,
    input: Object
  },
  computed: {
    nameState () {
      return this.input.name.length > 0
    }
  },
  /* default value is all (all students assigned to one course) */
  mounted () {
    this.input.studentGroup = 'all'
  }
}
</script>
