<template>
  <div class="toggle-button">
    <!-- Menu button -->
    <b-button
      class='form-section-button'
      :aria-expanded="visible ? 'true' : 'false'"
      variant="link"
      aria-controls="collapse-4"
      @click="visible = !visible"
    >
      {{ section.buttonName }}
    </b-button>
    <!-- Collapsible set up  -->
    <b-collapse id="collapse-4" v-model="visible" class="mt-2">
      <b-card>
        <b-row class="my-1">
            <b-col sm="2">
              <label for="input-layout">Rozložení otázek a odpovědí:</label>
            </b-col>
            <b-col sm="10">
              <b-form-select
                v-model="input.layout"
                :options="options"
                class="mb-3"
                value-field="item"
                text-field="name"
                disabled-field="notEnabled"
              ></b-form-select>
            </b-col>
          </b-row>
      </b-card>
    </b-collapse>
  </div>
</template>

<script>
/** FormGeneralType component is part of Form view.
 *  It enables user to set up layout type - questions and answers together or separate answer sheet
 *  (currently doesn't effect the final exam form) */
export default {
  name: 'FormLayoutType',
  data () {
    return {
      visible: true,
      show: true,
      options: [
        { item: 'TestAndForm', name: 'Zadání a odpovědní arch samostatně' },
        { item: 'TestOnly', name: 'Zadání a odpovědi společně' }
      ]
    }
  },
  props: {
    section: Object,
    input: Object
  },
  computed: {
    nameState () {
      return this.input.name.length > 0
    }
  },
  /* default value is testOnly (question and answers together) */
  mounted () {
    this.input.layout = 'TestOnly'
  }
}
</script>
