<template>
  <div class="col-lg-6 d-flex flex-column">
    <div type="group" class="list-head">
      Zadání {{ variant }}
      <!-- Button for deleting this variant -->
      <button type="button" class="close" aria-label="Close" @click="pop(variant)">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <!-- Dynamic draggable list of questions and pages - variantList -->
    <draggable class="list-group"
               :list="variantList"
               :group="{ name: 'questions', pull: 'clone', put: true }"
               :clone="cloneQuestion"
               @add="checkDuplicate"
               >
      <li class="list-group-item group" v-for="(element, index) in variantList" :key="index">
        <!-- Item if its question -->
        <div v-if="element.type !== 'page'" class="question-item">
          <span class="left index"> {{ questionIndex[index] }} </span>
          <span class="left question-text">{{ element.question }} </span>
          <div class="right right-panel">
            <!-- Pop item icon -->
            <font-icon :icon="['fas', 'times']"
                     @click="popElement(index)"
                     class="icon right"/>
            <!-- Question detail icon -->
            <font-icon :icon="['fas', 'search']"
                        @click="openDetail(element)"
                        class="icon right search"/>
            <b-form-input type="number" min="0" class="point-input left" v-model="variantList[index].points" placeholder="Body" />
          </div>
          <div class="row page" @click="addPage(index)" v-b-popover.hover.right="'Klikněte pro přidání nové sekce'"></div>
        </div>
        <!-- Item if its page -->
        <div v-else class="page-item">
          <span class="left question-text">Sekce {{ questionIndex[index] }} </span>
          <div class="right right-panel">
            <!-- Pop question icon -->
            <font-icon :icon="['fas', 'times']"
                       @click="popElement(index, true)"
                       class="icon right"
                       />
            </div>
          <div class="row page-noniteractive"></div>
        </div>
      </li>
    </draggable>
    <!-- Sub menu with action buttons -->
    <div class="row">
        <b-button variant="outline-primary" @click="showModal(variant)">Přidat otázku
        </b-button>
        <b-button variant="outline-primary" @click="duplicate(variant)">Duplikovat zadání
        </b-button><span class="total-points">Celkem: {{ totalPoints }}</span>
    </div>
  </div>
</template>

<script>
/** DynamicList component is part of Editor view.
 *  It enables user to create, edit and delete exam variant and it's question order */
import draggable from 'vuedraggable'

export default {
  name: 'DynamicList',
  display: 'DynamicList',
  components: {
    draggable
  },
  data () {
    return {
      // sum of all points
      totalPoints: 0,
      // sum of all pages in list (in same list as questions)
      pages: 1,
      // question index list, separate list for indexing in dynamic list
      questionIndex: ['1']
    }
  },
  props: {
    // list with all questions from database
    variantList: Array,
    // variant identifier
    variant: Number,
    pop: Function,
    showModal: Function,
    duplicate: Function,
    openDetail: Function
  },
  methods: {
    /* Method is used for deleting (popping) element from variant list */
    popElement (index, page = false) {
      // first element of the list can't be deleted if it's type page
      if (this.questionIndex.length > 1 && !(page && index === 0)) {
        this.variantList.splice(index, 1)
      }
    },
    /* Method adds new page to the list */
    addPage (index) {
      this.variantList.splice(index + 1, 0, { id: this.pages + 1, type: 'page' })
      this.pages++
    },
    /* Method is used for cloning elements throughout variant lists, it is used by
    * vue-draggable extension */
    cloneQuestion (element) {
      return element
    },
    /* Method is used for checking whether new dragged element is not already in the list
    *  If it's so, the element is deleted */
    checkDuplicate (event) {
      const element = this.variantList[event.newIndex]
      let deleteElem = false
      for (let i = 0; i < this.variantList.length; i++) {
        if (this.variantList[i].id === element.id && i !== event.newIndex) {
          deleteElem = true
          break
        }
      }
      // if duplicity is found, element is deleted
      if (deleteElem) {
        this.variantList.splice(event.newIndex, 1)
      }
    },
    /* Method is used for updating variantList and associated data objects
    *  It corrects new totalSum, updates questionIndex */
    updateData () {
      this.totalPoints = 0
      this.questionIndex = []
      let index = 1
      let pageIndex = 1
      for (let i = 0; i < this.variantList.length; i++) {
        // if it is not page - new question is registered
        if (this.variantList[i].type !== 'page') {
          this.totalPoints += Number(this.variantList[i].points)
          this.questionIndex[i] = index
          index++
        // if it is page, different (pageIndex) index is given
        } else {
          this.questionIndex[i] = pageIndex
          pageIndex++
        }
      }
    }
  },
  watch: {
    /* Watcher is set deep due to changes in points question attribute
    *  - totalPoints then needs to be recalculated */
    variantList: {
      handler: function () {
        this.updateData()
      },
      deep: true
    }
  },
  mounted () {
    this.updateData()
  }
}
</script>
