<template>
  <!-- Modal window -->
  <b-modal id="editor-modal"
           size="xl"
           hide-footer
           hide-header
           class="modal-detail">
    <div class="d-block">
      <h1>Přidat otázku do zadání {{ variant }}</h1>
      <h3>Databanka předmětu BI-SDS</h3>
      <div class="modal-column">
        <!-- List content -->
        <div class="list-group">
          <li class="list-group-item modal-list-item" v-for="index in allQuestionList.length" :key="index">
            <!-- Checkbox -->
            <b-form-checkbox
              :id="String(allQuestionList[index-1].id)"
              v-model="selected[index]"
              :disabled="inList(allQuestionList[index-1].id)"
              name="checkbox-1"
              class="left"
            > <span class="left index" >{{ index }}</span>
              <span class="left question-text">{{ allQuestionList[index - 1].question }}</span>
            </b-form-checkbox>
            <!-- Question detail -->
            <div class="right modal-right">
              <font-icon :icon="['fas', 'search']"
                         @click="openDetail(allQuestionList[index-1])"
                         class="icon right search"/>
            </div>
          </li>
        </div>
      </div>
    </div>
    <b-button class="modal-continue-button"
              @click="hideModal"
    >
      Zavřít
    </b-button>
    <b-button class="modal-continue-button"
              @click="addQuestions"
              :disabled="!isChecked"
    >
      Přidat označené
    </b-button>
  </b-modal>
</template>

<script>
/** EditorModal component is part of Editor view.
 * It enables user to select questions and add them to chosen exam variant */
export default {
  name: 'EditorModal',
  data () {
    return {
      show: false,
      // if true the add button is enabled
      isChecked: false
    }
  },
  props: {
    // variant identifier
    variant: Number,
    // list with all questions from database
    allQuestionList: Array,
    // list of selected question defined by question list index
    selected: Array,
    // sublist of list with questions, contains questions of selected variant
    variantList: Array,
    hideModal: Function,
    addQuestions: Function,
    openDetail: Function
  },
  methods: {
    /* Method is used for checking if there is any selected question */
    controlCheck () {
      this.isChecked = this.selected.indexOf(true, 1) !== -1
    },
    /* Method searches for question with given id
     * return true if it's found otherwise false  */
    inList (id) {
      if (this.variantList === undefined) {
        return false
      }
      for (let i = 0; i < this.variantList.length; i++) {
        if (this.variantList[i].id === id && this.variantList[i].type !== 'page') {
          return true
        }
      }
      return false
    }
  },
  watch: {
    selected: function () {
      this.controlCheck()
    },
    variant: function () {
      this.show = true
    }
  }
}
</script>
