<template>
  <div class="col-lg-6 d-flex flex-column">
    <div type="group" class="list-head">
      Skupina pro zadaní {{ variant }}
      <!-- Button for deleting this variant -->
      <button type="button" class="close" aria-label="Close" @click="pop(variant)">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <!-- Dynamic draggable list of questions and pages - variantList -->
    <draggable class="list-group" :list="variantList" group="people">
      <li
        class="list-group-item"
        v-for="(element, index) in variantList" :key="index"
      >
        <span class="left index"> {{ index + 1 }} </span>
        <span class="left marg_left">{{ element.lastname }} {{ element.firstname }} </span>
      </li>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
/** StudentList component is part of Editor view.
 *  It enables user to edit student list that are assigned to certain
 *  exam variant. It offers equal distribution function */

export default {
  name: 'StudentList',
  display: 'StudentList',
  components: {
    draggable
  },
  props: {
    // list with all questions from database
    variantList: Array,
    // variant identifier
    variant: Number,
    pop: Function,
    showModal: Function,
    duplicate: Function
  }
}
</script>
