<template>
  <div class="main-layout-cover">
  <progress-bar />
  <div class="main-layout">
    <b-row>
      <b-col>
        <h1>Soubory ke stažení</h1>
      </b-col>
    </b-row>
    <!-- Row with PDF icons with links for download -->
    <b-row>
        <b-container fluid class="download-container">
          <b-row>
            <b-col v-for="index in this.form.variants" :key="index">
              <b-button variant="link" class="download-link" @click="get(index)" download><img class="pdf-icon" src='@/assets/files/pdf.png' alt="PDF-icon">
             Zadání_varianta{{ index }}.pdf</b-button>
            </b-col>
          </b-row>
        </b-container>
    </b-row>
    <b-row>
      <b-col>
        <!-- Button for returning to Moodle -->
        <b-button pill variant="primary"
                  class="continue-button"
                  @click="$router.push('/')"
        >
          Zpět do Moodle
        </b-button>
        <!-- Button for downloading all PDF files -->
        <b-button pill variant="primary"
                  class="continue-button"
                  @click="getAll"
        >
          Stáhnout vše
        </b-button>
      </b-col>
    </b-row>
  </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar'
import { mapState } from 'vuex'
import axios from 'axios'
/** Download view is third screen of user scenario 1 – creating exam
 *  It provides user the possibility to download generated exam forms */

export default {
  name: 'download',
  components: {
    ProgressBar
  },
  computed: {
    ...mapState([
      'form'
    ])
  },
  props: {
    // server url
    url: String
  },
  methods: {
    /* Method is used for downloading all of the generated PDF forms */
    getAll () {
      for (let i = 0; i < this.form.variants; i++) {
        this.get(i + 1)
      }
    },
    /* Method is used for calling server API and getting PDF forms
     * It is initiated when user clicks on the download button */
    get (variantId) {
      axios({
        url: this.url + 'exam',
        method: 'GET',
        params: { variantId: variantId, examId: this.form.id },
        responseType: 'blob' // important
      }).then(function (response) {
        const newUrl = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = newUrl
        // set filename
        link.setAttribute('download', 'Zadani_varianta' + variantId + '.pdf')
        document.body.appendChild(link)
        // simulate user's click
        link.click()
      })
        .catch(function (error) {
          console.log('Error while downloading pdf' + error)
        })
    }
  }
}
</script>
