<template>
  <div class="main-layout-cover">
    <progress-bar />
    <div class="main-layout">
      <!-- Loading screen overlay -->
      <b-overlay :show="show_overlay" id="overlay-background"
                 variant='light'
                 :opacity=0.75
                 blur='2px'
                 spinner-variant="primary"
                 rounded="sm">
        <!-- Modal for adding new questions -->
        <EditorModal
        :variant="modalVariant"
        :hide-modal="hideModal"
        :allQuestionList="userQuestions.content"
        :variantList="list[modalVariant-1]"
        :selected="selected"
        :add-questions="addQuestions"
        :open-detail="openDetail"
      />
        <!-- Modal with question details -->
      <QuestionModal
        :question="detailQuestion"
      />
      <h1>Upravit obsah testu</h1>
      <div class="container-fluid">
        <div class="row flex-fill">
          <!-- Dynamic question variant list,
          number of them equals the number of variants -->
          <DynamicList v-for="index in this.list.length" :key="index"
            :variantList="list[index - 1]"
            :variant="index"
            :pop="pop"
            :show-modal="showModal"
            :duplicate="duplicate"
            :open-detail="openDetail"
          />
        </div>
      <div class="row">
        <!-- Add new variant button -->
        <font-icon :icon="['fas', 'plus']"
                     transform="shrink-9"
                     size="lg"
                     :mask="['fas', 'circle']"
                     class="icon add-icon"
                     @click="add"
                     v-b-popover.hover.right="'Klikněte pro přidání nového zadání'"/>
        </div>
        <div class="row flex-fill middle">
          <h2>Upravit seznam studentů</h2>
          <div class="container-fluid">
            <div class="row flex-fill">
              <!-- Dynamic student variant list,
              number of them equals the number of variants -->
              <StudentList v-for="index in this.students.length" :key="index"
                           :variantList="students[index - 1]"
                           :variant="index"
                           :pop="pop"
                           :show-modal="showModal"
                           :duplicate="duplicate"
              />
            </div>
            <div class="row">
              <b-col>
                <!-- Add new variant button -->
              <font-icon :icon="['fas', 'plus']"
                         transform="shrink-9"
                         size="lg"
                         :mask="['fas', 'circle']"
                         class="icon add-icon left"
                         @click="add"
                         v-b-popover.hover.top="'Klikněte pro přidání nového zadání'"/>
              <b-button variant="outline-primary student left" @click="distribute">Náhodně rozdělit</b-button>

              <b-button pill variant="primary"
                        class="continue-button"
                        @click="process"
              >
                Pokračovat
              </b-button>
              </b-col>
            </div>
        </div>
      </div>
  </div></b-overlay>
  </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar'
import DynamicList from '@/components/editorComponents/DynamicList'
import EditorModal from '@/components/editorComponents/EditorModal'
import StudentList from '@/components/editorComponents/StudentList'
import QuestionModal from '@/components/QuestionModal'
import { mapActions, mapState } from 'vuex'
import axios from 'axios'
import FormData from 'form-data'
/** Editor view is second screen of user scenario 1 – creating exam
 *  It offers editor of exam's variants and assigned students. Variant editor uses modal component
 *  EditorModal for adding question.
 *  Question and student lists are synchronised. Both of these sections shows the same number of lists = variants */

export default {
  name: 'Editor',
  data () {
    return {
      // 2D list - in first layer are variants, in second questions
      list: [[{ id: 1, type: 'page' }]],
      // questions from database - test data
      databaseQuestions: [],
      // 2D list - in first layer are variants, in second students
      students: [[]],
      // number of all variants
      variants: 0,
      // identifier of origin variant where new questions should be added
      modalVariant: 0,
      // list of selected questions for add function
      selected: [],
      // number of all students
      numberOfStudents: 0,
      // selected question for detail view in modal
      detailQuestion: { },
      // boolean for overlay
      show_overlay: false
    }
  },
  components: {
    EditorModal,
    DynamicList,
    ProgressBar,
    StudentList,
    QuestionModal
  },
  /* Editor uses 3 vuex objects, userQuestions and studentsData are filled with test data
  *  in final version it should be the data extracted from Moodle database */
  computed: {
    ...mapState([
      'userQuestions',
      'studentsData',
      'form'
    ])
  },
  props: {
    url: String
  },
  methods: {
    ...mapActions([
      'addVariant'
    ]),
    /* Function is called after all editing is done, shows overlay
     * until the process is running */
    process () {
      // shows overlay
      this.show_overlay = true
      this.post()
    },
    /* Method is used after all editing is done to send data to server side
    *  it uses POST /exam endpoint */
    post () {
      /* Data structure */
      const data = new FormData()
      data.append('examId', this.form.id)
      data.append('content', JSON.stringify(this.list))
      data.append('students', JSON.stringify(this.students))
      data.append('metadata', JSON.stringify(this.form))
      /* Copied from https://jasonwatmore.com/post/2020/04/30/vue-fetch-http-post-request-examples */
      axios.post(this.url + 'exam', data, { headers: { 'Content-Type': 'application/json' } }
      ).then(async response => {
        const data = await response

        // check for error response
        if (!response) {
          // get error message from body or default to response status
          const error = (data && data.message) || response.status
          return Promise.reject(error)
        }
        // hide overlay
        this.show_overlay = false
        this.addVariant({ variants: this.variants })
        await this.$router.push('/download')
      })
        .catch(error => {
          console.error('There was an error!', error)
          this.show_overlay = false
        })
    },
    /* Method is used for adding new variant of exam
     * - adds new student and question list */
    add () {
      if (this.list.length === this.numberOfStudents) {
        return
      }
      this.list.push([{ id: 1, type: 'page' }])
      this.students.push([])
      this.variants = this.list.length
    },
    /* Method is used for duplicating new exam variant – it is shallow copy so it is possible
     * to change number of points and keep it synchronised
     * @param variant - number
     *     identifier of origin variant
     * */
    duplicate (variant) {
      this.list.push([])
      for (let i = 0; i < this.list[variant - 1].length; i++) {
        this.list[this.list.length - 1].push(this.list[variant - 1][i])
      }
      this.students.push([])
      this.variants = this.list.length
    },
    /* Method is used for deleting (popping) exam variant
     * if there is only one variant, method is not active
     * @param index - number
     *    variant list index to be deleted */
    pop (index) {
      if (this.variants === 1) {
        return
      }
      this.list.splice(index - 1, 1)
      // hard copy of deleted group
      const tmpArr = JSON.parse(JSON.stringify(this.students[index - 1]))
      // deleting group
      this.students.splice(index - 1, 1)
      // hard copy moved to first group
      this.students[0].push.apply(this.students[0], tmpArr)
      this.variants = this.list.length
    },
    /* Method is used for calling modal window for adding questions
    *  @param variant - number
    *     identifier of origin variant
    * */
    showModal (variant) {
      this.modalVariant = variant
      this.$root.$emit('bv::show::modal', 'editor-modal', '#btnShow')
    },
    /* Method is used for resetting list of selected questions that is visible in editor-modal */
    resetSelected () {
      for (let i = 0; i < this.userQuestions.content.length + 1; i++) {
        this.selected[i] = false
      }
    },
    /* Method is used for hiding modal window for adding questions */
    hideModal () {
      this.modalVariant = 0
      this.resetSelected()
      this.$root.$emit('bv::hide::modal', 'editor-modal', '#btnShow')
    },
    /* Method is used for adding selected question in editor modal to specific variant */
    addQuestions () {
      for (let i = 0; i < this.databaseQuestions.length + 1; i++) {
        if (this.selected[i] === true) {
          this.list[this.modalVariant - 1].push(this.databaseQuestions[i - 1])
        }
      }
      this.hideModal()
    },
    /* Method is used for calling question modal window with detail about selected question
    *  @param element - object
    *     question object
    * */
    openDetail (element) {
      this.detailQuestion = element
      this.$root.$emit('bv::show::modal', 'modal-detail', '#btnShow')
    },
    /* Method is used for moving certain students from one list with groups to other list
     * with different number of groups. They are filled with the number
     * of students defined by "by" parameter
     * @param origin - list
     *   origin list of students
     * @param target - list
     *   target list of students
     * @param groupMax - number
     *   max number of students in one group
     * */
    moveToArr (origin, target, groupMax) {
      let toGroupCount = 0
      // goes through all students in origin list
      for (let i = 0; i < origin.length; i++) {
        // if all students from origin list group are moved, move to other origin group
        if (origin[i].length === 0) {
          continue
        }
        const studentsLen = origin[i].length
        // fill new target list group
        for (let j = 0; j < studentsLen; j++) {
          target[toGroupCount].push(origin[i][0])
          origin[i].splice(0, 1)
          // stop if it's the last target group filled with the number of students defined by "groupMax" parameter
          if ((toGroupCount + 1) === this.variants && target[toGroupCount].length === groupMax) {
            break
          // if the group is filled but there is more empty groups
          } else if (target[toGroupCount].length === groupMax) {
            toGroupCount++
          }
        }
        // stop if it's the last target group filled with the number of students defined by "groupMax" parameter
        if ((toGroupCount + 1) === this.variants && target[toGroupCount].length === groupMax) {
          break
        }
      }
    },
    /* Method is used to distribute current list of students into new list with
     * different set of groups with most equal distribution possible */
    distribute () {
      const newStudents = [[]]
      for (let i = 1; i < this.variants; i++) {
        newStudents.push([])
      }
      // maxItem equals numberOfStudents divided by number of groups then floored
      const maxItem = Math.floor(this.numberOfStudents / this.variants)
      // students are moved to new list, in first distributed equally
      this.moveToArr(this.students, newStudents, maxItem)
      // rest of students are distributed to existing groups, each group gets one student at most
      this.moveToArr(this.students, newStudents, maxItem + 1)
      this.students = newStudents
    }
  },
  /* Set up after reload */
  mounted () {
    this.variants = this.list.length
    this.students = this.studentsData.content
    this.numberOfStudents = this.students[0].length
    this.databaseQuestions = this.userQuestions.content
    // reset selected questions
    for (let i = 0; i < this.userQuestions.content.length; i++) {
      this.selected.push(false)
    }
  }
}
</script>
