<template>
  <div class="main-layout-cover">
    <progress-bar />
    <!-- Table of components -->
    <div class="main-layout">
      <b-row>
        <b-col>
          <h1>Nastavení nového testu</h1>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <FormGeneralInfo
            :section="section1"
            :input="input"
          />
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <FormLayoutType
            :section="section2"
            :input="input"
          />
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <FormStudentGroup
            :section="section3"
            :input="input"
          />
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button pill variant="primary"
                         class="continue-button"
                         @click="goNext"
                         :disabled="this.input.name.length === 0">
            Pokračovat
          </b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar'
import FormGeneralInfo from '@/components/formSections/FormGeneralInfo'
import FormLayoutType from '@/components/formSections/FormLayoutType'
import FormStudentGroup from '@/components/formSections/FormStudentGroup'
import { mapActions, mapState } from 'vuex'
/** Form view is first screen of user scenario 1 – creating exam
*  It offers user to set up initial settings of the exam like name, description, exam layout type or student group.
*  Last two parameters doesn't effect the form outcome, prototype shows them only for test purposes. */

export default {
  name: 'form',
  components: { FormGeneralInfo, ProgressBar, FormLayoutType, FormStudentGroup },
  data () {
    return {
      /* Names of buttons applied in components used in this view */
      section1: { buttonName: 'Obecná nastavení' },
      section2: { buttonName: 'Rozložení' },
      section3: { buttonName: 'Studenti' },
      // User's input data
      input: {
        name: '',
        description: '',
        layout: '',
        studentGroup: ''
      }
    }
  },
  methods: {
    ...mapActions([
      'addFormData'
    ]),
    /* Method is used to save data before leaving this page and moving forward to editor page
    *  it stores input data to vuex object form */
    goNext () {
      const { name, description, layout, id, studentGroup } = this.input
      const payload = {
        name,
        description,
        layout,
        id,
        studentGroup
      }
      this.addFormData(payload)
      this.$router.push({ name: 'editor' })
    }
  },
  computed: {
    ...mapState([
      'form'
    ])
  },
  /* After each reload of the page, input object is updated with data stored in vuex form object */
  mounted () {
    console.log(this.form)
    this.input.name = this.form.name
    this.input.description = this.form.description
    this.input.layout = this.form.layout
    this.input.studentGroup = this.form.studentGroup
    if (this.$route.query.exam !== undefined) {
      this.input.id = this.$route.query.exam
    }
  }
}
</script>
