<template>
  <div class="home-view-container" >
      <b-button pill variant="primary"
                class="home-button-left"
                @click="$router.push('/form')">
        Vytvořit test
      </b-button>
      <b-button pill variant="primary"
                class="home-button-right"
                @click="$router.push('/upload')">
        Otestovat
      </b-button>
  </div>
</template>

<script>
/** Home view is temporary screen for test purposes.
*  It navigates user to two different user scenarios – creating and evaluation */
export default {
  name: 'Home'
}
</script>
