<template>
  <div class="main-layout-cover">
    <progress-bar />
    <div class="main-layout">
      <b-row>
        <b-col>
          <h1>Výsledky testu</h1>
        </b-col>
      </b-row>
      <!-- Loading screen overlay -->
      <b-overlay :show="showOverlay" id="overlay-background"
                 variant='light'
                 :opacity=0.75
                 blur='2px'
                 spinner-variant="primary"
                 rounded="sm">
      <b-row>
        <!-- Result table component -->
        <ResultTable
        :results="results"/>
      </b-row>
      </b-overlay>
      <b-row>
        <b-col>
          <!-- Button for saving changes and returning to Moodle -->
          <b-button pill variant="primary"
                    class="continue-button"
                    @click="$router.push('/')"
          >
            Potvrdit výsledky
          </b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar'
import { mapState } from 'vuex'
import ResultTable from '@/components/resultComponents/ResultTable'
import axios from 'axios'
/** Result view is second screen of user scenario  – evaluating exam
 *  After calling server API, view show result table and provides the
 *  possibility of manual correction */

export default {

  name: 'results',
  components: {
    ResultTable,
    ProgressBar
  },
  computed: {
    ...mapState([
      'sampleResults',
      'form'
    ])
  },
  props: {
    // server url
    url: String
  },
  data () {
    return {
      // list of exam results
      results: [],
      // boolean to show overlay
      showOverlay: false
    }
  },
  methods: {
    /* Method is used for calling GET results endpoint
     * it saves the received data to results list */
    get (id) {
      this.showOverlay = true
      axios.get(this.url + 'results/' + String(id)
      ).then(async response => {
        const data = await response.data
        // check for error response
        if (!response) {
          // get error message from body or default to response status
          const error = (data && data.message) || response.status
          return Promise.reject(error)
        }
        this.showOverlay = false
        this.results = JSON.parse(data)
      })
        .catch(function (error) {
          console.log('Error while getting results' + error)
          this.showOverlay = false
        })
    }
  },
  /* After reload fetch result data */
  mounted () {
    if (this.$route.query.exam !== undefined) {
      this.get(this.$route.query.exam)
    }
  }
}
</script>
