<template>
  <div class="main-layout-cover">
    <progress-bar />
    <!-- Loading screen overlay -->
    <b-overlay :show="showOverlay" id="overlay-background"
               variant='light'
               :opacity=0.75
               blur='2px'
               spinner-variant="primary"
               rounded="sm">
    <div class="main-layout">
      <b-row>
        <b-col>
          <h1>Nahrajte oskenované odpovědi</h1>
        </b-col>
      </b-row>
        <b-row>
          <b-col class="d-inline-flex p-2 bd-highlight" style="font-size: 16px">
            <span>Aplikace v tuto chvílí přijímá pouze formát PDF. Obrázky prosím slučte do souborů PDF, kde každý jeden odpovídá jedné variantě testu.Všechny naskenované testy, i ty nevyplněné, musí být součástí tohoto PDF.</span>
          </b-col>
        </b-row>
      <b-row>
        <b-col>
          <!-- Upload container -->
          <div class="download-container">
            <b-form-file
              v-model="files"
              multiple
              :state="files.length !== 0"
              placeholder="Zvolte nebo přesunte soubory s oskenovanými odpovědmi"
              drop-placeholder="Přesuňte sem"
            ></b-form-file>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button pill variant="primary"
                    class="continue-button"
                    @click="post"
          >
            Opravit
          </b-button>
        </b-col>
      </b-row>
    </div>
    </b-overlay>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar'
import axios from 'axios'
import FormData from 'form-data'
export default {
  /** Upload view is first screen of user scenario 2 – evaluating exam
      It provides user the possibility to upload scanned and filled exam forms */

  name: 'upload',
  components: {
    ProgressBar
  },
  data () {
    return {
      // uploaded files
      files: [],
      // boolean to show overlay
      showOverlay: false,
      id: 0
    }
  },
  props: {
    url: String
  },
  methods: {

    /* Method is used for calling server API and posting uploaded files
     * It is initiated when user clicks on the evaluate button. After successful POST
     * it redirects him user to Results view */
    // copied from https://serversideup.net/uploading-files-vuejs-axios/
    post: function () {
      const data = new FormData()
      // show overlay
      this.showOverlay = true
      for (let i = 0; i < this.files.length; i++) {
        const file = this.files[i]
        data.append('files[' + i + ']', file)
      }
      axios.post(this.url + 'results/' + this.id, data, { headers: { 'Content-Type': 'multipart/form-data' } }
      ).then(async response => {
        const data = await response

        // check for error response
        if (!response) {
          // get error message from body or default to response status
          const error = (data && data.message) || response.status
          return Promise.reject(error)
        }
        // hide overlay
        this.showOverlay = false
        await this.$router.push({
          path: '/results',
          query: { exam: this.id }
        })
      })
        .catch(error => {
          console.error('There was an error!', error)
          this.showOverlay = false
        })
    }
  },
  mounted () {
    if (this.$route.query.exam !== undefined) {
      this.id = this.$route.query.exam
    }
  }
}
</script>
