// all CSS declarations associated with general layout

body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background-image: url('~@/assets/files/bg.jpg')
  background-repeat: no-repeat
  background-size: auto


label
  font-size: 1vw
  font-weight: 400
  vertical-align: top

h1
  color: $blue

h2
  font-size: 1.5vw
  color: $blue

a
  color: $blue

h3
  font-size: 1.5vw
  color: $blue

