// all CSS declarations associated with app buttons

.editor-add-button
  height: 3vw
  width: 3vw
  font-size: 1.8vw
  padding: 0
  background-color: $blue
  border-color: $blue
  margin: 10px

.form-section-button
  font-size: 1.5vw
  width: 100%
  text-align: left
  border-bottom: 0.1px solid $blue
  color: $blue

.home-button-left
  position: relative
  font-size: 2vw
  height: 20%
  width: 20%
  margin: calc(25%) calc(5%) calc(30%) calc(25%)
  opacity: 0.9
  background-color: $blue
  border-color: $blue

.home-button-right
  position: relative
  font-size: 2vw
  height: 20%
  width: 20%
  margin: calc(25%) calc(25%) calc(30%) calc(5%)
  opacity: 0.9
  background-color: $blue
  border-color: $blue

.progress-button
  position: relative
  float: left
  height: 100%
  width: 30%
  font-size: 2vw
  background-color: $blue
  border-color: $blue
  margin: calc(1.5%)

.progress-button:hover
  background-color: $hoverblue
  border-color: $hoverblue

.progress-button:disabled
  background-color: #6e757e
  border-color: #6e757e

.continue-button
  position: relative
  float: right
  height: 80%
  width: 20%
  font-size: 1.25vw
  background-color: $blue
  border-color: $blue
  margin: calc(1%)

.modal-continue-button
  position: relative
  padding: calc(1%)
  margin: calc(1%)
  font-size: 1.25vw
  background-color: $blue
  border-color: $blue
  float: right

.close
  margin: calc(2%)
  font-size: 1.5vw

.btn-outline-primary
  margin: 0 calc(0.5%)
  border: 1px solid $blue
  color: $blue

.btn-outline-primary:hover
  border: 1px solid $hoverblue
  background-color: $hoverblue

.student
  margin: calc(2%) calc(0.5%)
