// all CSS declarations associated with download page

.pdf-icon
  display: block
  max-width: 100px
  max-height: 100px
  width: auto
  height: auto
  margin-left: auto
  margin-right: auto

.download-container
  text-align: center
  font-size: 1.3vw
  margin-bottom: 50px
  margin-top: 50px
  padding: 50px
  border: 0.1px inset lightgrey
  background-color: white
  color: $blue

.download-link
  text-align: center
  font-size: 1.3vw
  color: $blue
