// all CSS declarations associated with editor page

.list-group
  border: 1px lightcoral
  font-size: 1vw
  min-height: 100px
  background-color: $lightblue
  margin-bottom: calc(5%)
  margin-top: calc(2%)

.col-3
  border: 0.1px lightgrey

.modal-column
  width: 95%
  margin: 10px calc(2%)

.list-head
  font-size: 1.6vw
  margin: calc(2%)
  border-bottom: 0.1px solid $blue
  color: $blue

.middle
  border-top: 0.1px solid $blue
  margin-top: calc(5%)
  padding-top: 10px

.left
  float: left
  position: relative

.question-text
  width: 66%
  line-height: 16px
  vertical-align: middle

.index
  margin-right: calc(3%)
  background-color: $lightblue
  border-radius: 50%
  font-size: 14px
  height: 26px
  width: 26px
  text-align: center
  padding-top: 2px
  vertical-align: middle

.right
  float: right
  position: relative

.total-points
  font-size: 1.25vw
  width: 30%
  margin-left: calc(15%)

.right-panel
  width: 23%
  height: 90%

.point-input
  width: 62%
  text-align: center

.search
  margin-right: calc(10%)

.icon
  color: $blue
  vertical-align: middle

.icon:hover
  color: $hoverblue
  border-radius: 50%
  cursor: pointer

.add-icon
  margin: calc(2%) calc(1%)

.custom-control-label
    width: 100%

.modal-list-item
  border: 1px lightcoral

.modal-list-item:hover
  background-color: #C9D2EE
  border: 1px lightcoral

.page
  height: 12px
  padding: 6px
  width: 106%

.page:hover
  border-bottom: 3px solid $blue
  cursor: pointer

.page-noniteractive
  height: 12px
  padding: 6px
  width: 106%

.group
  padding-bottom: 0

.header
  background-color: $lightblue

.incorrect
  color: lightcoral
.correct
  color: #42b983

.custom-checkbox
  width: 90%
  margin-right: 0

.point-input-modal
  width: 45%
  margin-left: calc(3%)

.points
  padding: calc(2%) calc(2%) calc(2%) calc(6%)

