// all CSS declarations associated with form page

.main-layout-cover
  align-items: center
  justify-content: center
  height: 100%

.main-layout
  height: 85%
  background-color: rgba(255,255,255,0.85)
  border: 0.1px solid lightsteelblue
  border-radius: 5px
  padding: 40px
  font-size: 2vw
  color: black
  resize: vertical
  overflow: auto
  margin: 10px calc(10%) 30px calc(10%)

.mt-2
  text-align: left

