// all CSS declarations associated with home page

.home-view-container
    color: $blue
    align-items: center
    justify-content: center
    height: 100%
    background-color: transparent








