// all CSS declarations associated with progress bar component

.progress-bar
  background-color: transparent
  width: 100%
  opacity: 0.9

.bv-progress
  background-color: transparent
  margin: 30px calc(10%) 1px calc(10%)


