// all CSS declarations associated with result table component

.result-table-wrapper
  width: 100%
  margin: calc(2%) calc(5%)

.result-table
  margin: auto
  width: 90%
  border: solid #c8d0e5 1px

.result-table th
  border-left: solid #c8d0e5 1px
  font-size: 1.2vw
  background-color: $blue
  padding: 15px 5px
  text-align: center
  color: white

.result-table td
  border-top: solid #c8d0e5 1px
  border-left: solid #c8d0e5 1px
  font-size: 1.2vw
  padding: 5px
  text-align: center

.result-detail-table
  width: 40%
  margin: calc(1%) calc(1%)

.th, td
  text-align: left

.table-column-property
  font-weight: bold

.invalid
  border: solid 1px #e9bdbd
  background-color: #e9bdbd

.valid
  border: solid 1px #9ce295
  background-color: #9ce295
.answer-detail-table
  width: 80%
  margin-top: 10px

.cell-text-format
  width: 40%
  padding-right: calc(5%)
  text-align: left

.modal-right-panel
  width: 40%
  height: 60px

.question-text-modal
  width: 80%
  line-height: 16px
  vertical-align: middle
  font-size: 14px

.margin
  margin: calc(7%)

.point-input-modal-result
  width: 40%
  margin: calc(1%) calc(5%)

.answer-detail
  padding: 5px
  margin-bottom: 15px


.answer-detail-wrapper
  width: 100%
  margin-left: calc(7%)

.text-small
  font-size: 12px
